:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bcg-color: #ffffff;
  --team-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --portfolio-border: #ececec;
  --team-link-color: #afb1b8;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --footer-icons-bg: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  color: var(--primeri-text-color);
  background-color: var(--main-bcg-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
  display: inline-block;
}

button {
  display: inline;

  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------Header -----------------*/

.header-content {
  display: flex;
  align-items: center;
}

.logo-begin {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-end {
  color: var(--title-text-color);
}

.active-page {
  color: var(--accent-color);
}

.active-page::after {
  position: absolute;
  content: "";

  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation {
  margin-left: 93px;
}

.header-list {
  display: flex;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-list.header-contacts {
  margin-left: auto;
}

.header-item {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item-link {
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

.pasiv-link::after {
  position: absolute;
  content: "";

  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  transform: scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.pasiv-link:hover:after,
.pasiv-link:focus:after {
  transform: scale(1);
}

.header-contacts a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primeri-text-color);
}

.header-icon {
  margin-right: 10px;

  fill: currentColor;
}

.header-icon.mail {
  height: 12px;
  width: 16px;
}

.header-icon.phone {
  height: 16px;
  width: 10px;
}

/* --------------------Main (Studio)-------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.qualities {
  padding-bottom: 0;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-bcg-color);
  color: var(--main-bcg-color);
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-bg {
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url(../images/studio/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* --------------------qualities-------------------- */

.qualities-list {
  display: flex;
}
.qualities-item {
  margin-right: 30px;
}
.qualities-item:last-child {
  margin-right: 0;
}

.qualities-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.qualities-icon {
  width: 70px;
  height: 70px;
}

.qualities-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.works-item-wraper {
  position: relative;
}

.works-description {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-bcg-color);
}

.works-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}
.works-list {
  display: flex;
}

.works-item {
  margin-right: 30px;
}
.works-item:last-child {
  margin-right: 0;
}

/* ----------------------Team---------------------- */

.team {
  background-color: var(--team-bcg-color);
  padding-bottom: 94px;
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--main-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-desription {
  padding: 30px 0px;
}

.team-desription h3 {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-text-color);
}

.team-desription p {
  margin-bottom: 16px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
}

.team-icons-item + .team-icons-item {
  margin-left: 10px;
}

.team-item-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--team-link-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.team-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.team-item-link:hover,
.team-item-link:focus {
  background-color: var(--accent-color);
  color: var(--main-bcg-color);
}

/* --------------------Clients-------------------- */

.clints-list {
  display: flex;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;
  width: 170px;

  border: 1px solid var(--team-link-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--team-link-color);

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.clients-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* --------------------Footer-------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-color);
}
.conteiner.bottom {
  display: flex;
  align-items: baseline;
}
.conteiner.bottom > a {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-begin.footer-logo {
  margin-bottom: 20px;
}

.logo-end-footer {
  color: var(--main-bcg-color);
}
.address li {
  display: block;
  margin-bottom: 9px;
}
.address li:last-child {
  margin-bottom: 0;
}
.footer-contacts {
  color: var(--footer-contacts-color);
}
.location {
  color: var(--main-bcg-color);
}

.footer-networks {
  margin-left: 70px;
}

.footer-net-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bcg-color);
}

.footer-net-list {
  display: flex;
}

.footer-net-item + .footer-net-item {
  margin-left: 10px;
}

.footer-net-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--main-bcg-color);
  background-color: var(--footer-icons-bg);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.footer-net-link:hover,
.footer-net-link:focus {
  background-color: var(--accent-color);
}

.footer-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.footer-form-label {
  display: flex;
  flex-direction: column;
}

.footer-form-label > span {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-bcg-color);
}

.footer-form-label > input {
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: var(--footer-bcg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-top: 20px;
  padding-left: 16px;
}

.footer-form-btn {
  display: inline-flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-bcg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-left: 12px;
  padding: 10px 28px;
}

.form-btn-icon {
  width: 24px;
  height: 24px;

  background-image: url(../images/studio/icon-send.svg);
  fill: var(--main-bcg-color);

  margin-left: 10px;
}

/*----------------- Main (Portfolio) -----------------*/

.portfolio-header {
  border-bottom: 1px solid var(--portfolio-border);
}

.portfolio-info {
  margin-top: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;

  background: var(--team-bcg-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);

  transition-property: box-shadow, border-radius, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-bcg-color);
}

.portfolio-info {
  margin-bottom: 94px;
}
.portfolio-net {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-net-item {
  width: calc((100% - (30px * 2)) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-net-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.portfolio-net-wraper {
  position: relative;
  overflow: hidden;
}

.portfolio-net-description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-bcg-color);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubic);
}

.portfolio-net-link:hover,
.portfolio-net-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-net-link:hover .portfolio-net-description,
.portfolio-net-link:focus .portfolio-net-description {
  transform: translateY(0);
}

.portfolio-net-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-net-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.item-content {
  padding: 20px 24px;

  border: 1px solid var(--portfolio-border);
}

.item-content h2 {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.item-content p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primeri-text-color);
}

/* ----------------------Modal---------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--main-cubic),
    visibility 250ms var(--main-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: var(--main-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--main-cubic);

  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;

  background-color: var(--main-bcg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-button:hover > .modal-close-icon,
.modal-close-button:focus > .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon {
  height: 11px;
  width: 11px;

  fill: currentColor;
  justify-content: center;

  transition: fill 250ms var(--main-cubic);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.form-label > textarea {
  resize: none;

  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--title-text-color);

  margin-top: 4px;
  padding: 12px 16px;

  transition: border 250ms var(--main-cubic);
}

.form-label textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-input > input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--title-text-color);

  padding-left: 42px;
  transition: border 250ms var(--main-cubic);
}

.form-input {
  position: relative;

  margin-top: 4px;
}

.form-input input:focus {
  border: 1px solid var(--accent-color);
}

.form-input input:focus + svg {
  fill: var(--accent-color);
}

.form-label {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primeri-text-color);

  margin-top: 10px;
}
.form-label-first {
  margin-top: 12px;
}

.check-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.check-label > span {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primeri-text-color);
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: var(--main-bcg-color);
  background-image: url(../images/studio/icon-check.svg);
  background-position: center;

  margin-right: 8px;

  transition: background-color 250ms var(--main-cubic),
    border 250ms var(--main-cubic);
}

.check-input:checked + .check-box {
  background-color: var(--accent-color);
  border: 2px solid transparent;
}

.form-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-btn {
  display: flex;
  padding: 10px 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #188ce8;
  color: var(--main-bcg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.form-icon {
  position: absolute;

  height: 18px;
  width: 18px;

  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  fill: var(--title-text-color);

  transition: fill 250ms var(--main-cubic);
}
